
#body{
    width: 1440px;
        height:700px;
        background-image: url('34-349511_tokyo-ghoul-wallpaper-8k.jpg');
        background-size: cover;
        padding: 0px;
        margin: 0px;
        margin-left: auto;
        margin-right:auto;
    }
#starto {
        background-color:#BB109F;
        border-radius:100%;
    }
    #uso {
        border-radius:100%;
    }
    body{
        padding: 0px;
        margin: 0px;
        background-color: black;
    }

    #slide{
        width:500px;
        height:100px;
        border-radius: 200px;
        background-color: orangered;
        position: relative;
        top: 300px;
        left: 200px;
    }

    #slide1{
        width:500px;
        height:100px;
        border-radius: 200px;
        background-color: orangered;
        position: relative;
        top: 200px;
        transform: rotate(60deg);
    left: 700px;
    }

    .ball{
        width:100px;
        height:100px;
        border-radius: 100%;
        transition: linear 1.3s;
        background-color: brown;
        position: relative;
        left:-50px;
    }

    .ball1{
        width:100px;
        height:100px;
        border-radius: 100%;
        transition: linear 2s;
        background-color: brown;
        position: relative;
        left:-50px;
        transform: rotate(60deg);
    }

    .end{
        position: relative;
        top:250px;
        height: 100px;
        animation-name: gameover;
        animation-duration: 1s;
        background-color: aqua;
        transform:scaleY(7);
        z-index: 1000000;
    }

    @keyframes gameover{
        0%   {transform: scaleY(1);}
        100% {transform: scaleY(7);}
    }
    .circle{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        background-color: aquamarine;
    }

    #element{
        position: fixed;
        top:200px;
        left:200px;
        background-color: aquamarine;
    }

    #element1{
        position: fixed;
        top:300px;
        left:300px;
        background-color: aquamarine;
    }
    #element2{
        position: fixed;
        top:400px;
        left:400px;
        background-color:pink;
    }
    #element3{
        position: fixed;
        top:300px;
        left:500px;
        background-color:pink;
    }

    #element4{
        position: fixed;
        top:300px;
        left:600px;
        background-color:blanchedalmond;
    }

    #element5{
        position: fixed;
        top:100px;
        left:600px;
        background-color:blanchedalmond;
    }
    #element6 {
        position:fixed;
        top:400px;
        left:700px;
        background-color:plum;
    }
    #element7 {
        position:fixed;
        top:200px;
        left:700px;
        background-color:plum;
    }
    #element8 {
        position:fixed;
        top:300px;
        left:800px;
        background-color: aquamarine;
    }
    #element9 {
        position:fixed;
        top:400px;
        left:700px;
        background-color: palevioletred;
    }
    #element10 {
        position:fixed;
        top:200px;
        left:700px;
        background-color: palevioletred;
    }
    #element11 {
        position:fixed;
        top:300px;
        left:300px;
        background-color:pink;
    }
    #element12 {
        position:fixed;
        top:400px;
        left:400px;
        background-color:pink;
    }
    #element13 {
        position:fixed;
        top:400px;
        left:600px;
        background-color:pink;
    }
    #element14 {
        position:fixed;
        top:400px;
        left:800px;
        background-color:blanchedalmond;
    }
    #element15 {
        position:fixed;
        top:200px;
        left:800px;
        background-color:blanchedalmond;
    }
    #element16 {
        position:fixed;
        top:500px;
        left:800px;
        background-color:blanchedalmond;
    }
    #element17 {
        position:fixed;
        top:500px;
        left:700px;
        background-color:plum;
    }
    #element18 {
        position:fixed;
        top:600px;
        left:450px;
        background-color:plum;
    }
    #element19 {
        position:fixed;
        top:200px;
        left:600px;
        background-color: aquamarine;
    }
    #element20 {
        position:fixed;
        top:400px;
        left:750px;
        background-color: aquamarine;
    }
    #element21 {
        position:fixed;
        top:200px;
        left:800px;
        background-color: palevioletred;
    }
    #element22 {
        position:fixed;
        top:200px;
        left:880px;
        background-color: palevioletred;
    }
    #element23 {
        position:fixed;
        top:300px;
        left: 950px;
        background-color:blanchedalmond;
    }
    #element24 {
        position:fixed;
        top:400px;
        left:950px;
        background-color:blanchedalmond;
    }
    #element25 {
        position:fixed;
        top:300px;
        left:600px;
        background-color:pink;
    }
    #element26 {
        position:fixed;
        top:300px;
        left:400px;
        background-color:pink;
    }
    #element27 {
        position:fixed;
        top:300px;
        left:700px;
        background-color:pink;
    }
    #element28 {
        position:fixed;
        top:400px;
        left:900px;
        background-color:olive;
    }

    #element29 {
        position:fixed;
        top:450px;
        left:1000px;
        background-color:olive;
    }
    #element30 {
        position:fixed;
        top:450px;
        left:1400px;
        background-color:olive;
    }
    #element31 {
        position:fixed;
        top:600px;
        left:850px;
        background-color:plum;
    }
    #element32 {
        position:fixed;
        top:600px;
        left:850px;
        background-color:plum;
    }
    #element33 {
        position:fixed;
        top:500px;
        left:980px;
        background-color:aquamarine;
    }
    #element34 {
        position:fixed;
        top:300px;
        left:300px;
        background-color:aquamarine;
    }
    #element35 {
        position:fixed;
        top:400px;
        left:900px;
        background-color:blanchedalmond;
    }
    #element36 {
        position:fixed;
        top:400px;
        left:1100px;
        background-color:blanchedalmond;
    }
    #element37 {
        position:fixed;
        top:450px;
        left:1200px;
        background-color:palevioletred;
    }
    #element38 {
        position:fixed;
        top:300px;
        left:1000px;
        background-color:palevioletred;
    }
    #element39 {
        position:fixed;
        top:100px;
        left:400px;
        background-color:paleturquoise;
    }
    #element40 {
        position:fixed;
        top:300px;
        left:500px;
        background-color:paleturquoise;
    }
    #element41 {
        position:fixed;
        top:500px;
        left:500px;
        background-color:olivedrab;
    }
    #element42 {
        position:fixed;
        top:450px;
        left:1000px;
        background-color:olivedrab;
    }
    #element43 {
        position:fixed;
        top:450px;
        left:800px;
        background-color:olivedrab;
    }
    #element44 {
        position:fixed;
        top:450px;
        left:600px;
        background-color:olive;
    }
    #element45 {
        position:fixed;
        top:350px;
        left:720px;
        background-color:olive;
    }

    #element46 {
        position:fixed;
        top: 60px;
        left:720px;
        background-color:plum;
    }
    #element47 {
        position:fixed;
        top:220px;
        left:720px;
        background-color:plum;
    }
    #element48 {
        position:fixed;
        top:380px;
        left:720px;
        background-color:plum;
    }
    #element49 {
        position:fixed;
        top: 540px;
        left:720px;
        background-color:plum;
    }
    #element50 {
        position:fixed;
        top: 460px;
        left:820px;
        background-color:pink;
    }
    #element51 {
        position:fixed;
        top: 240px;
        left:820px;
        background-color:pink;
    }
    #element52 {
        position:fixed;
        top: 60px;
        left:920px;
        background-color:blanchedalmond;
    }
    #element53 {
        position:fixed;
        top: 220px;
        left:920px;
        background-color:blanchedalmond;
    }
    #element54 {
        position:fixed;
        top: 380px;
        left:920px;
        background-color:blanchedalmond;
    }
    #element55 {
        position:fixed;
        top: 540px;
        left:920px;
        background-color:blanchedalmond;
    }
    #element56 {
        position:fixed;
        top: 460px;
        left: 620px;
        background-color:aquamarine;
    }
    #element57 {
        position:fixed;
        top: 240px;
        left:620px;
        background-color:aquamarine;
    }
    #element58 {
        position:fixed;
        top: 60px;
        left:520px;
        background-color:paleturquoise;
    }
    #element59 {
        position:fixed;
        top: 220px;
        left:520px;
        background-color:paleturquoise;
    }
    #element60 {
        position:fixed;
        top: 380px;
        left:520px;
        background-color:paleturquoise;
    }
    #element61 {
        position:fixed;
        top: 540px;
        left:520px;
        background-color:paleturquoise;
    }
    #element62 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:olive;
    }
    #element63 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:olive;
    }
    #element64 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:olive;
    }
    #element65 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:olivedrab;
    }
    #element66 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:olivedrab;
    }
    #element67 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:palevioletred;
    }
    #element68 {
        position:fixed;
        top: 150px;
        left:620px;
        background-color:palevioletred;
    }
    #element69 {
        position:fixed;
        top: 150px;
        left:820px;
        background-color:palevioletred;
    }
    #element70 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:pink;
    }
    #element71 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:pink;
    }
    #element72 {
        position:fixed;
        top: 550px;
        left:620px;
        background-color:plum;
    }
    #element73 {
        position:fixed;
        top: 550px;
        left:820px;
        background-color:plum;
    }
    #element74 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:blanchedalmond;
    }
    #element75 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:blanchedalmond;
    }
    #element76 {
        position:fixed;
        top: 150px;
        left:620px;
        background-color:paleturquoise;
    }
    #element77 {
        position:fixed;
        top: 150px;
        left:820px;
        background-color:paleturquoise;
    }
    #element78 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:aquamarine;
    }
    #element79 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:aquamarine;
    }
    #element80 {
        position:fixed;
        top: 350px;
        left:620px;
        background-color:olive;
    }
    #element81 {
        position:fixed;
        top: 350px;
        left:820px;
        background-color:olive;
    }
    #element82 {
        position:fixed;
        top: 350px;
        left:720px;
        background-color:#fc0303;
    }
    #element83 {
        position:fixed;
        top: 350px;
        left:720px;
        background-color:#fc7303;
    }
    #element84 {
        position:fixed;
        top: 350px;
        left:720px;
        background-color:#fce703;
    }
    #element85 {
        position:fixed;
        top: 350px;
        left:720px;
        background-color:#07fc03;
    }
    #element86 {
        position:fixed;
        top: 350px;
        left:720px;
        background-color:#0388fc;
    }
    #element87 {
        position:fixed;
        top: 350px;
        left:720px;
        background-color:#8003fc;
    }
    #element88 {
        position:fixed;
        top: 200px;
        left: 620px;
        background-color:magenta;
    }
    #element89 {
        position:fixed;
        top: 200px;
        left:820px;
        background-color:magenta;
    }
    #element90 {
        position:fixed;
        top: 500px;
        left:820px;
        background-color:magenta;
    }
    #element91 {
        position:fixed;
        top: 500px;
        left:620px;
        background-color:magenta;
    }
    #element92 {
        position:fixed;
        top: 200px;
        left:620px;
        background-color:magenta;
      }

    .ring{
        height: 120px;
        width: 120px;
        border-radius: 100%;
        border:solid 3px white;
        position: relative;
        right:13px;
        bottom: 13px;
        animation-name: ring;
        animation-duration: 2s;
        transform: scale(0);
    }
    @keyframes ring {
        0%   {transform: scale(1);}
        100% {transform: scale(0);}
      }

      .perfect{
    width: 100px;
    height: 50px;
    background-color: blanchedalmond;
    color: antiquewhite;
      }

      #header1{
          background-color: #0f1014;
          font-family: 'Allerta', sans-serif;
          font-size: 20px;
          text-align: center;
          padding: 0px;
          margin: 0px;
          height: 40px;
          padding-top: 10px;
      }

      #header{
      width: 100%;
        font-family: 'Allerta', sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 0px;
        margin: 0px;
        color: white;
    }


      .animation{
        animation-name: word;
        animation-duration: .5s;
      }

      @keyframes word {
        0%   {transform: scale(0);}
        50%   {transform: scale(1.5);}
        100% {transform: scale(1);}
      }
      #footer{
          position: relative;
          background-color: #7600E4;
          height: 20px;
          top: 630px;
          left:0px;
          width:144px;
          transform: scaleX(10);
          transform-origin:left ;
          transition: all 1s linear ;
      }

